---
title: '8Fold Yoga Hamtramck - Yoga Classes & Meditation for All Levels'
description: 'Discover balance, energy, and community at 8Fold Yoga in Hamtramck, MI. Offering Vinyasa, Restorative, Yin Yoga, and more, our classes cater to beginners and advanced yogis alike. Experience expert instruction, a welcoming atmosphere, and a modern studio located at 2321 Caniff. Join us today and start your journey to strength, mindfulness, and connection. Book a class online or call (+313) 569 9817.'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}

    
{% include 'components/hero.html' %}

{% include 'components/home_content_1.html' %}

{% include 'components/home_content_2.html' %}
{% include 'components/home_content_testimonial.html' %}

{% include 'components/home_content_steps.html' %}
{% include 'components/home_content_cta.html' %}





    {% endblock %}